table {
            border-collapse: collapse;
            width: auto;
            background-color: yellow;
            text-align: center;
            border: 3px solid black;
        }
        th, td {
            border: 3px solid black;
            padding: 10px;
            font-size: 18px;
            font-family: Arial, sans-serif;
        }
        th {
            font-weight: bold;
            font-size: 20px;
            font-family: Arial, sans-serif;
        }
        h2 {
            text-align: center;
            font-family: Arial, sans-serif;
        }