 table {
            width: 50%;
            border-collapse: collapse;
            background-color: yellow;
            text-align: center;
            font-size: 20px;
            border: 2px solid black;
        }
        th, td {
            border: 2px solid black;
            padding: 10px;
        }
        th {
            font-weight: bold;
            font-size: 22px;
        }
        .bold {
            font-weight: bold;
        }